
body {
    margin: auto;
    background: #D6E2F0;
    display:grid;
    place-items: center;
    min-height:100vh;
    }

.box {
    background-color: white;
    border-radius: 15px;
    width: 315px;
    height: 484px;
    flex-shrink: 0;
    margin: 0 auto;
    padding: 4px;
    -webkit-box-shadow: 0px 6px 6px 0px rgba(123,135,157,0.6);
    -moz-box-shadow: 0px 6px 6px 0px rgba(123,135,157,0.6);
    box-shadow: 0px 6px 6px 0px rgba(123,135,157,0.6);
}

.box .qr-code {
    margin: 18px 18px 0 18px;
    width: 280px;
    height: 280px;
    flex-shrink: 0;
    background: url("../img/image-qr-code.svg"), lightgray 50% / cover no-repeat;
}

.box h3 {
    color: #1F3251;
    text-align: center;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 36px 19px 36px;

}

.box p {
    color: #7B879D;
    text-align: center;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 19px 36px 45px 36px;
}